.contacto {
    display: flex;
    flex-direction: column;
    .section {
        width: 600px;
        margin: auto;
        background-color: transparent;
        background-color: #11020245;
        color: white;
        text-shadow: 3px 3px 2px rgb(0, 0, 0);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 30px;
        border-radius: 7px;
        text-align: center;

        &__h1 {
            display: flex;
            justify-content: center;
            padding: 20px;
        }
        .form{
            &__input{
                width: 100%;
                margin-bottom: 15px;
                padding: 10px;
                box-sizing: border-box;
                background-color: rgba(240, 248, 255, 0.568);
            }
            .textarea {
                min-height: 200px;
                max-height: 500px;
                max-width: 100%;
            }
        }
    }
}



