.productos{
    &__h1{
        @include estilo2(60px, 1px 1px 2px rgb(255, 255, 255));
    }
    .row {
        justify-content: space-evenly;
        width: 100%;
        padding-top: 25px;
        .card {
            background-color: bisque;
            margin: 20px;
            height: 38vh;
            .esp {
                font-size: 20px;
            }
            .espp {
                font-size: 15px;
            }
            .card-img-top {
                padding-top: 10px;
            }
        }
    }
}